.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.categoryModal-enter {
  opacity: 0;
}
.categoryModal-enter-active,
.categoryModal-enter-done {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  /* background-color: royalblue; */
  transition: opacity 300ms;
}
.categoryModal-exit {
  opacity: 1;
}
.categoryModal-exit-active {
  opacity: 0;
  background: white;
  transition: opacity 300ms;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
